
<div class='articleLeft'>
  <%= link_to " Edit Account",  edit_user_registration_path %>

  <h2>Who I am</h2>
  <p>
    My name is Chris and I love the outdoors. When I'm home....
  </p>


  <h2>Experiencing Moments</h2>
  <%  %>

</div>




<div class='article right'>
  <h2>My Moments</h2>

  <div class='topMoments'>
    <%  %>
    <%  %>
    <%  %>
    <%= link_to 'Create Moment', edit_moment_path %>
  </div>


</div>
