<div class="momentIMG">

</div>

<div class="articleLeft">
  <%= @moment.description %>
</div>

<div class='article right'>

</div>


<%= @moment.name %>
on
<% def pretty_date
  pretty_date = Time.parse(@moment.date).to_date.strftime("%B %-d, %Y")
end %>
<%= pretty_date %> at
<%= @moment.location %>
