

    <h1 class="momentsheading">
      This is the moments index page!
    </h1>
  <% @moments.each do |moment| %>
  <%= moment.name %>
  <%= moment.location %>
  <%= moment.date %>
  <%= moment.description %>
<% end %>
